.content_suggested_container{
    display: flex;
    width: 90vw;
    margin:1em auto;
    background-color: white;
    /* overflow-x: hidden; */
}

.content_suggested_title{
    display: flex;
    border-bottom:1px rgba(185, 179, 179,.5) solid;
    padding:1em;
    border-right: 2px solid white;
    z-index: 20;
}
.content_suggested_title h2{
    flex-grow: 2;
    font-weight: 400;
}
.content_suggested_title div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.content_suggested_title span{
    background-color: #2874f0;
    color:white;
    width: fit-content;
    padding:.75em 1em;
    text-align: center;
    cursor: pointer;
    font-size: .9rem;
}
.content_suggested_items{
    padding:1em .75em;
    display: flex;
    /* margin-right:2em; */
    z-index: -2;
    overflow-x: hidden;


}
.content_suggested_item:hover{
    color:var(--color-primary);
} 
.content_suggested_item img{
    width: 160px;
    aspect-ratio: 1/1;

}
.content_suggested_item{
    max-width: 175px;
    text-align: center;
    padding:1em 1.5em;
    cursor:pointer;
}
.content_suggested_item h4{
    font-weight: 400;

}
#content_suggested_name{
    height: 100px;
}

.content_suggested_subcontainer{
    position: relative;
    width: 100%;
    border-right: 1px rgba(185, 179, 179,.5) solid;
}

@media screen and (max-width:800px) {
    .content_suggested_title h2{
        font-size: 1rem;
    }
    .content_suggested_title div span{
        font-size: .75rem;
    }
    .content_suggested_title *, #content_suggested_title{
        font-size: .75rem;
        }
}