.query_result_title{
margin:.25em auto 2em auto;
text-align: center;
font-weight: 500;
}
.query_wrapper{
    display: flex;
    margin:1rem auto;
    width: 90vw;
}
.query_filters{
    flex:1;
}
.query_filters h2{
    font-weight: 500;
}
.query_filters ul{
    margin:0;
    padding:0;
    list-style: none;
    font-size: .9rem;
}
.query_filters li{
    margin:.25rem 0;
}
.query_filters li:not(:first-child){
    cursor: pointer;
}
.query_filters li:not(:first-child):hover{
    color:var(--color-primary)
}
.filters_title{
    font-weight: 500;
    text-transform: uppercase;

}
.query_container{
    flex:5;
    background-color: white;
    margin:1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:1rem;
    justify-content: center;
    align-items: flex-start;
}
.query_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.query_item{
    width: 20rem;
    margin:1rem;
}
.query_item:hover{
    color:var(--color-primary);
}
.query_item h2, .query_item h4{
    font-weight: 400;
    font-size: 1rem;
}
.query_image_container{
    width: 10em;
}
.query_image_container img{
    height: 10em;
    max-width: 100%;
}