@keyframes inner {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .loadingSmall-container{
      margin-left:15%;
  }
  .inner div {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 23px solid var(--color-primary);
    border-top-color: transparent;
    border-radius: 50%;
  }
  .inner div {
    animation: inner 0.3194888178913738s linear infinite;
    top: 118.5px;
    left: 118.5px
  }
  .outer {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .inner {
    width: 100%;
    height: 200px;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  
  
  }
  .inner div { box-sizing: content-box; }
  