
.all_items_container{
    background-color: white;
    width: 90vw;
    margin:1em auto 2em auto;

}
.all_items_header{
    text-align: center;
    border-bottom: 1px solid rgba(200,200,200,0.4);
    margin:1em auto 3em auto;
    padding:3em;

}
.all_items_header p{
    color:gray;

}
.all_items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin:1em auto;
    width: 100%;
    place-items: center;
}
.content_suggested_item:hover.content_suggested_item h4, .content_suggested_item:hover.content_suggested_item span{
    color:var(--color-primary);
}
#all_items_name{
    height: auto;
}
@media screen and (max-width:1440px) {
    .all_items{
        grid-template-columns: repeat(5,1fr);
    }
}
@media screen and (max-width:1200px) {
    .all_items{
        grid-template-columns: repeat(4,1fr);
    }
}


@media screen and (max-width:900px) {
    .all_items{
        grid-template-columns: repeat(3,1fr);
    }
    .all_items img{
        width: 120px;
    }
}

@media screen and (max-width:700px) {
    .all_items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:400px) {
    .all_items{
        grid-template-columns: repeat(1,1fr);
    }
}

