.offers_container{
    display: flex;
    width: 80vw;
    margin:1em auto;
    justify-content: space-around;
}
.offers_container img{
    width: 500px;
    height: 300px;
    cursor: pointer;
    border:1px solid rgba(224, 220, 220.5);
    padding:1em;
}
