.suggested_container{
    display: flex;
    width: 90vw;
    margin:1em auto;
    background-color: white;
height: max-content;
}


.suggested_title{
    display: flex;
    border-bottom:1px rgba(185, 179, 179,.5) solid;
    padding:1em;
    z-index: 20; 
}
.suggested_title h2{
    flex-grow: 2;
    font-weight: 400;
    font-size: 1.5rem;
}
.suggested_title div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.suggested_title div span{
    background-color: #2874f0;
    color:white;
    width: fit-content;
    padding:.75em 1em;
    text-align: center;
    cursor: pointer;
    font-size: .9rem;

}
@media screen and (max-width:800px) {
.suggested_title h2{
    font-size: 1rem;
}
.suggested_title div span{
    font-size: .75rem;
}
.suggested_item *, #suggested_name{
font-size: .75rem;
}
h4#suggested_name{
    font-size: .8rem;
}
.suggested_item img{
    width: 100px;
}

.suggested_container{
    flex-direction: column;
}
.top_deal{
  display: none;
}
.suggested_container .prev, .suggested_container .next{
    border:2em solid white;
        border-left:.75em solid white;
        border-right:.75em solid white;
}
}

@media screen and (max-width:480px) {
    .suggested_container .prev, .suggested_container .next{
        height: .75em;
        border:.15em solid white;
        border-left:.5em solid white;
        border-right:.5em solid white;
    }


}

.suggested_title span:hover{
    background-color: rgb(41, 129, 255);
    transition: 100ms;

}
.suggested_items{
    display: flex;
    padding:.5em .75em;
    width: 75vw;
    overflow-x: hidden;
    margin-right:2em;
    height: fit-content;

}
.suggested_item img{
    width: 10em;
    aspect-ratio: 1/1;
}
.suggested_item{
    max-width: 175px;
    
    text-align: center;
    padding:1em 1.5em;
    height: fit-content;
}
.suggested_item h4{
    font-weight: 400;

}
#suggested_name{
    height: 8em;
    font-size: 1rem;
}
.suggested_subcontainer{
    position: relative;
    border-right: 1px rgba(185, 179, 179,.5) solid;
    
}
.suggested_item:hover{
    color:var(--color-primary);
} 
/* Prev button */
.prev{
    position: absolute;
    z-index: 9;
    width: 1em;
    height: 1em;
    border:1em solid white;
    border-radius: 10% 0% 0% 10%;
    bottom:5em;
    padding:2em 0;
    left: 0;
    top:40%;
    cursor: pointer;
    outline: 1px solid rgba(54, 52, 52, 0.2);
    background-color: white;
    transform: scale(-1,-1);
}
.prev img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Next button */
.next{
    position: absolute;
    z-index: 9;
    width: 1em;
    height: 1em;
    background-color: white;
    border:1em solid white;
    border-radius: 10% 0% 0% 10%;
    bottom:5em;
    padding:2em 0;
    right: 0;
    top:40%;
    cursor: pointer;
    outline: 1px solid rgba(54, 52, 52, 0.2);

}
.next img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.top_deal{
    background-color: white;
}
.top_deal img{
    width: 100%;
    height: 100%;
}